.franchise-hero {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ad-header-container-01 {
    width: fit-content;
    text-align: center;
    margin: auto;
}

.ad-body-div-01 {
    width: fit-content;
    text-align: center;
    margin: auto;
}