.spacer {
    width: 100%;
    height: 20px;
}

#home-container,
.home-content {
    width: 100%;
}

@media screen and (max-width: 1698px) {
    .home-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .spacer {
        width: 100%;
    }

    #home-container,
    .home-content {
        width: 100%;
    }
}

@media screen and (max-width: 986px) {

    #home-container,
    .home-content {
        width: 100%;
    }
}

/* New media query for screens with a maximum width of 768px and lower */
@media screen and (max-width: 768px) {
    .spacer {
        height: 10px;
        /* Adjust the height for smaller screens */
    }

    #home-container,
    .home-content {
        width: 100%;
    }

    .home-box {
        /* Add styles for screens with a maximum width of 768px and lower */
    }
}