.spacer {
    width: 100%;
    height: 20px;
}

#home-container,
.home-content {
    width: 100%;
}

@media screen and (max-width: 1698px) {
    .home-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .spacer {
        width: 100%;
    }

    #home-container,
    .home-content {
        width: 100%;
    }
}

@media screen and (max-width: 986px) {

    #home-container,
    .home-content {
        width: 100%;
    }
}