.box {
    width: 100%;
}

.location-hero {
    width: 100%;
}

.location-container {
    width: 100%;
}

@media (max-width: 1698px) {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 986px) {
    .box {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .box {
        /* Add your styles for 768px and lower here */
    }
}