.brands {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.brands-02 {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.ad-brands {
    width: 100%;
    display: flex;
}

@media screen and (max-width: 768px) {
    .ad-brands {
        flex-direction: column;
    }

    .brands,
    .brands-02 {
        padding: 20px;
    }
}