.brands {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.brands-02 {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

.ad-brands {
    display: flex;
}

@media screen and (max-width: 1698px) {
    .ad-brands {
        flex-direction: column;
    }
}