table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    text-align: center;
    padding: 10px;
}

th label {
    font-weight: normal;
    font-size: 20px;
    /* Adjust the font size as needed */
    text-align: center;
}

.brand-image-item {
    max-width: 100%;
    height: auto;
    /* Added to reset the width to auto for images */
}

@media screen and (max-width: 768px) {

    table th label,
    table td {
        font-size: 16px;
        /* Adjust the font size as needed */
    }
}