.franchise-form-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form {
    width: 500px;
    padding-bottom: 40px;
}

#franchise-form-01 {
    width: 300px;
    display: grid;
}

#franchise-form-01 label {
    text-align: start;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#franchise-form-01 input {
    font-size: 20px;
}

.form-image {
    width: 400px;
}

.form-image-item {
    width: 400px;
}

.submit-form-button {
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .franchise-form-container {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: fit-content;
        max-width: 500px;
        padding: 20px;
    }

    #franchise-form-01 {
        width: 100%;
    }

    #franchise-form-01 label {
        padding-top: 10px;
        margin: auto;
    }

    #franchise-form-01 input {
        width: 300px;
        margin: auto;
    }

    .form-image {
        width: 100%;
        max-width: 400px;
        padding: 20px;
    }

    .form-image-item {
        width: 100%;
        max-width: 400px;
    }
}