.franchise-form-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form {
    width: 500px;
    padding-bottom: 40px;
}

#franchise-form-01 {
    width: 300px;
    display: grid;
}

#franchise-form-01 label {
    text-align: start;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}

#franchise-form-01 input {
    font-size: 20px;
}


.form-image {
    width: 400px;
}

.form-image-item {
    width: 400px;
}

.submit-form-button {
    padding-top: 10px;
}