.header {
    position: absolute;
    /* Position the overlay absolutely */
    align-items: center;
    justify-content: center;
    width: fit-content;
    left: 50%;
    /* Move the left edge of the element to the horizontal center of its containing element */
    transform: translateX(-50%);

    /* Make the overlay height 100% of the container */
    background-color: rgba(255, 145, 0, 1);
    /* Add a semi-transparent background color */
    color: #fff;
    /* Text color for the content inside the overlay */
    text-align: center;
    /* Center the content horizontally and vertically */
    padding: 20px;
    /* Add padding for better readability */
}

.mega-header {
    font-size: 80px;
}

.sub-header {
    font-size: 30px;
}