.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-container {
    width: 100%;
}

.brand-logo {
    width: 250px;
    height: 60px;
}

.nav-menu {
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: 60%;
    height: 100%;
}

.nav-item {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
}

.nav-item a {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.nav-item a:hover {
    color: grey;
    cursor: pointer;
}