.nav-container {
    width: 100%;
    margin: auto;
}

.nav-brand-container {
    width: fit-content;
    margin: auto;
}

.nav-brand-logo {
    width: 1880px;
    height: 350px;
    object-fit: cover;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: fit-content;
    height: 100%;
    margin: auto;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    height: 100%;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.nav-item a:hover {
    color: grey;
    cursor: pointer;
}

/* Mobile Styles for screens below 768px */
@media screen and (max-width: 768px) {
    .nav-container {
        text-align: center;
    }

    .nav-brand-container {
        width: 100%;
    }

    .nav-brand-logo {
        width: 70%;
        /* Adjust as needed */
    }

    .nav-menu {
        display: none;
        /* Hide the menu items by default */
    }

    .nav-menu.open {
        display: flex;
        /* Show the menu items when the menu is open */
        flex-direction: column;
        /* Stack menu items in a column */
    }

    .nav-item {
        padding: 10px;
        width: 100%;
        /* Make each item full-width */
    }

    .nav-item a {
        font-size: 18px;
        /* Adjust font size */
    }

    .menu-button {
        width: fit-content;
        margin: auto;
        display: block;
        /* Show the menu button by default */
        cursor: pointer;
        padding: 10px;

        /* Button background color */
        color: #fff;
        /* Button text color */
        border: none;
        border-radius: 5px;
    }

    .menu-button.open {
        background-color: #fff;

        /* Adjust the background color when the menu is open */
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #333;
        /* Color of the bars */
        margin: 5px 0;
    }
}