.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.brand-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.brand-logo {
    width: 250px;
    height: 60px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 60%;
    height: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.nav-item a:hover {
    color: grey;
    cursor: pointer;
}

@media screen and (max-width: 1698px) {
    .container-fluid {
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .nav-menu {
        text-align: center;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}