.App {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

span.boundary {
  position: fixed;

  /* Adjust the color as needed */
}

span.top {
  top: 0;
  left: 0;
  /* Add left property to ensure it starts from the left edge */
  right: 0;
  width: 100%;
  /* Add right property to ensure it ends at the right edge */
  height: 30px;
  /* Adjust the height as needed */
}

span.left {
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
}

span.right {
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
}

span.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.app-content {
  width: 100%;
}

@media (max-width: 1698px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }

  .app-content {
    width: 90%;
  }
}